$blue-color: #23a6f0;
$blue-darker-color: #5294e2;
$grey-navbar: #3c414e;
$white-grey: rgba(245, 246, 247, 0.999);
$grey-writing-color: #5c616c;
$white-grey-writing-color: #d9dde0;
$white-grey-writing-color-hover: #BAC3CF;
$back-color: rgba(238,238,238,1);
