@import "~materialize-css/sass/materialize.scss";
@import "colors";

.parallax img{
    filter: brightness(0.3);
}
.mini-title{
    font-weight: bolder;
    color: #e1f5fe;
}
.active-collapsible{
	background-color: $blue-darker-color;
	color: $white-grey;
}
#mobile-demo{
    li:hover{
        background-color:map-get($blue-grey,"darken-3");
    }
}
