@import "~materialize-css/sass/materialize.scss";
@import "colors";
#ku-logo {
    height: 3.56rem;
}
.parallax img{
    filter: brightness(0.3);
}
.mini-title{
    font-weight: bolder;
    color: $white-grey-writing-color;
}
.blue-darker-text{
    color:$blue-darker-color;
}
.active-collapsible{
	background-color: $blue-darker-color;
	color: $white-grey;
}
#mobile-demo{
    li:hover{
        background-color:map-get($blue-grey,"darken-3");
    }
}
blockquote{
  border-left:5px solid $blue-darker-color;
}
//Reference: https://stackoverflow.com/questions/11660710/css-transition-fade-in
.fade-in {
	opacity: 1;
	animation-name: fade;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
body{
    background-color:map-get($blue-grey,"lighten-5");
}
.activeclass{
    background-color:$blue-darker-color;
}
table{
    &.highlight > tbody > tr {
      transition: background-color .25s ease;
      &:hover {
        background-color: $white-grey;
      }
    }
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
